* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    width: 100%;
    text-align: center;
}

section.card-container{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 text-align: center;
 margin:10px;
}

.card{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 188, 188);
    margin: 10px 10px;
    border: solid 1px black;
    box-shadow: 2px 2px 2px rgb(77, 76, 76);
}